<?php

declare(strict_types=1);

return array(
    'endpoint' => 'https://api.telegram.org/bot{BotToken}/',
    'admin' => [
        'login' => 'foo',
        'password' => 'bar'
    ]
    'token' => 'bigAndPrettyToken'
);
